.all-about-content {
  display: flex;
  flex-direction: column-reverse;
  height: 90vh;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.main-title-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}

// LES BOUTONS

.select-content-button {
  height: 80px;
  width: 90%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  border: 2px solid transparent;
  background:
    linear-gradient(#ffffffb4, #ffffffb4) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cfffa, #40c9ff) border-box;

  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.select-content-button input[type="radio"] {
  display: none;
}

.select-label-about {
  width: 100%;
  text-align: center;
  font-size: calc(0.7rem + 1.2vw);
  font-weight: 600;
  font-family: var(--second-font);
  padding: 18px 15px;
  border-radius: 35px;
  transition: 0.5s;
  cursor: pointer;
  color: black;
}

.select-content-button input[type="radio"]:checked + label {
  box-shadow:
    5px 5px 10px rgba(0, 0, 0, 0.151),
    5px 5px 10px rgba(0, 0, 0, 0.218);
  background: linear-gradient(45deg, #cf6efb, #4f29cd);
  color: rgb(255, 255, 255);
  transform: translateY(-3px);
  height: 70px;
}

.select-content-button input[type="radio"]:hover:not(:checked) + label {
  box-shadow:
    inset 10px 10px 15px rgba(0, 0, 0, 0.151),
    inset 10px 10px 15px rgba(0, 0, 0, 0.218);
  width: 90%;
}

// FENETRE DU CONTENU TEXTE

.rules-content,
.legals-mentions-content,
.cgu-content {
  height: 65vh;
  max-height: 65vh;
  margin: 0 2rem;
  border-radius: 10px;
  text-align: left;
  color: var(--white-font);
  border: 2px solid transparent;
  background:
    linear-gradient(#c34cf6b4, #c34cf6b4) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cfffa, #40c9ff) border-box;

  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  overflow-y: auto;
  font-family: var(--second-font);
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.description-game {
  text-align: center;
  font-size: 1.5rem;
  margin: 1.5rem;
}

.description-main-title {
  text-align: center;
}

.description-details {
  text-align: center;
  margin: 1rem;
}

// Version DESKTOP //

@media (min-width: 770px) {
  .all-about-content {
    height: auto;
    display: flex;
    flex-direction: row;
  }

  // Les bouttons

  .select-content-button {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .select-content-button input[type="radio"]:checked + label {
    box-shadow:
      10px 10px 15px rgba(0, 0, 0, 0.151),
      10px 10px 15px rgba(0, 0, 0, 0.218);
    background: linear-gradient(45deg, #cf6efb, #4f29cd);
    color: white;
    transform: translateY(-4px);
    width: 90%;
  }

  .select-content-button input[type="radio"]:hover:not(:checked) + label {
    box-shadow:
      inset 10px 10px 15px rgba(0, 0, 0, 0.151),
      inset 10px 10px 15px rgba(0, 0, 0, 0.218);
    width: 90%;
  }

  .select-label-about {
    height: 100px;
    width: 250px;
    font-size: calc(0.8rem + 0.4vw);
    font-weight: 600;
    font-family: var(--second-font);
    padding: 18px 15px;
    border-radius: 35px;
    transition: 0.5s;
    cursor: pointer;
    color: black;
  }

  .select-label-about:hover {
    box-shadow:
      inset 10px 10px 15px rgba(0, 0, 0, 0.151),
      inset 10px 10px 15px rgba(0, 0, 0, 0.218);
    height: 80px;
    width: 150px;
  }

  .rules-content,
  .legals-mentions-content,
  .cgu-content {
    width: 60rem;
    max-height: 60vh;
    text-align: left;
    font-family: var(--second-font);
    font-size: calc(0.5rem + 0.8vw);
  }
  .description-game {
    text-align: center;
    margin: 0.5rem;
  }

  .description-main-title {
    text-align: start;
    margin-left: 1rem;
  }

  .description-details {
    text-align: start;
    margin: 0 1rem 2rem 1rem;
  }
}
