.add-new-streetart {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-top: 2rem;
  margin-left: 1rem;
  max-height: 80vh;
  overflow-y: auto;
  background-color: rgba(194, 76, 246, 0.6);
  border-radius: 10px;
}

.add-title-text {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

#file {
  display: none;
}

.file-label {
  display: flex;
  justify-content: center;
  width: 80%;
  text-align: center;
  padding: 12px 16px;
  color: white;
  background-color: var(--button-color);
  border: 1px solid #414141;
  border-radius: 6px;
  cursor: pointer;
  font-family: var(--second-font);
  font-weight: 600;
  box-shadow: #000000 0px 7px 10px -5px inset;
  margin-bottom: 1rem;
}

.file-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-picture-form {
  width: 90vw;
  max-height: 80vh;
  padding: 1rem;
  color: white;
  overflow-y: auto;
}

.added-picture {
  display: flex;
  margin-bottom: 1rem;
  width: 80vw;
  max-height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

.separator {
  width: 100%;
  height: 10px;
  background-color: var(--primary-text-color);
  margin: 1rem 0;
  border-radius: 10px;
}

.form-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: white;
  font-weight: 600;
  width: 100%;
  background: var(--button-color);
  font-family: var(--second-font);
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: #000000 0px 7px 10px -5px inset;
  border-radius: 6px;
}

.input-container-title,
.input-container-description,
.input-container-artist,
.input-container-position {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: black;
  font-family: inherit;
  background-color: var(--input-background-color);
  border: 1px solid #414141;
  box-shadow: #000000 0px 7px 10px -5px inset;
  margin-bottom: 1rem;
}

.input-container-description {
  height: 7rem;
}

@media (min-width: 770px) {
  .add-new-streetart {
    height: 76vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin-top: 0rem;
    margin-left: 2rem;
  }

  .add-title-text {
    font-size: 2.5rem;
  }

  .file-label {
    width: 60%;
    margin-bottom: 0;
  }

  .file-section {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }

  .add-picture-form {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }

  .added-picture {
    margin: 0;
    width: 100%;
    max-height: 70%;
    object-fit: contain;
  }

  .separator {
    width: 13px;
    height: 100%;
    margin: 0 3rem;
  }

  .label-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
  }

  .label-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .input-container-title,
  .input-container-artist {
    width: 95%;
  }

  .input-container-position {
    width: 45%;
  }

  .input-container-description {
    width: 70%;
    height: 7rem;
  }

  .input-row {
    display: flex;
  }
  .form-submit-btn {
    width: 70%;
  }
}
