h2 {
  color: var(--primary-text-color);

  font-size: 2rem;
}

label {
  margin: 0.3rem;
}

.add-picture {
  background-color: rgba(194, 76, 246, 0.6);
  padding: 2.5rem;
  margin: 1rem 2rem 10rem 2rem;
  color: var(--primary-text-color);
  border-radius: 10px;
}

.form-submit-btn {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: inherit;
  color: white;
  font-weight: 600;
  width: 40%;
  background: var(--button-color);
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: #000000 0px 7px 10px -5px inset;
  border-radius: 6px;
}

.input-container {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: black;
  font-family: inherit;
  background-color: var(--input-background-color);
  border: 1px solid #414141;
  box-shadow: #000000 0px 7px 10px -5px inset;
}
