@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

.burgerLogo {
  width: 2.5rem;
}
.drawerButton {
  padding: 0;
}
.logoInDrawer {
  width: 150px;
  padding-bottom: 15rem;
}
.NavIcon {
  width: 30px;
}

a {
  font-size: 1rem;
  color: var(--primary-text-color);
  text-decoration: none;
}
