.main-desktop > .map-container {
  width: 100vw;
  height: 95vh;
  z-index: 1000;
}

// NE PAS AFFICHER LE TEXTE ET LE BOUTONS
.add-street-art {
  display: none;
}

// VERSION DESKTOP

@media (min-width: 770px) {
  .main-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
  }

  //PARTIE DES TEXTES
  .home-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem 2rem 0 2rem;
  }

  .main-title {
    font-size: calc(2.5rem + 0.8vw);
    color: var(--primary-text-color);
    margin: 0;
  }

  .second-title {
    font-size: calc(1.5rem + 0.8vw);
    color: #63d1ff;
  }

  .add-street-art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  //PARTIE MAP

  .main-desktop > .map-container {
    width: 55vw;
    height: 65vh;
    border-radius: 25px;
  }
}
// POPUP

.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  width: 10rem;

  .imgpopup-container {
    width: 7rem;
    height: auto;
  }
  .button-popup-container {
    font-family: var(--primary-font);
    height: 2rem;
    width: 10rem;
  }
}
.popup-title {
  font-family: var(--primary-text-color);
  font-size: 1rem;
}

.mapboxgl-popup-content {
  padding: 0;
}

.button-container {
  display: flex;
  flex-direction: row;

  a {
    img {
      width: 3rem;
    }
  }
}
