.mainDesktop > .map-container {
  width: 100vw;
  height: 95vh;
  z-index: 1000;
}
// NE PAS AFFICHER LE TEXTE ET LES BOUTONS

.textContent {
  display: none;
}
// VERSION DESKTOP

@media (min-width: 770px) {
  .mainDesktop {
    display: flex;
  }

  //PARTIE DES TEXTES
  .textContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 4rem;
  }

  .mainTitle {
    font-size: calc(2.5rem + 1vw);
    color: var(--primary-text-color);
    margin: 5rem 0 0 0;
  }

  .secondTitle {
    font-size: calc(1.5rem + 1vw);
    color: #63d1ff;
    margin: 0 0 3rem;
  }
  //BOUTONS ET LEURS EFFETS
  .buttons {
    display: flex;
    align-items: center;
  }

  .buttonConnect {
    background-color: #ff6c00;
    color: var(--primary-text-color);
    font-family: var(--primary-font);
    height: 3rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .buttonConnect:hover {
    background-color: #e65a00;
  }

  .buttonAdd {
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    width: 65px;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6c00;
    border: none;
    border-radius: 10px;
  }

  .buttonAdd:hover {
    background-color: #e65a00;
  }

  .buttonAdd > img {
    border-radius: 30%;
    width: 50px;
    height: 50px;
  }

  //PARTIE MAP

  .mainDesktop > .map-container {
    position: absolute;
    right: 50px;
    width: 55vw;
    height: 70vh;
    border-radius: 25px;
  }
}
