.navbar-logo-container {
  background-color: var(--primary-color);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 3;

  nav {
    menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
      li {
        list-style: none;
        a {
          padding: 0;
        }
      }
    }
  }
}
.navIcon {
  width: 2.5rem;
  padding: 6px 12px 6px 12px;
}

.addArt {
  width: 3.5rem;
  padding: 8px 10px 0 14px;
}
.navbar-desktop {
  display: none;
}
