.navbar-logo-container {
  background-color: var(--primary-color);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 3;

  nav {
    menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      li {
        list-style: none;
        a {
          img {
            width: 2.5rem;
          }
        }
      }
    }
  }
}

.navbar-desktop {
  display: none;
}
