.profile-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  label {
    font-size: calc(1.5rem + 1vw);
    margin-bottom: 0.5rem;
  }
}

.profile-section-mobile {
  text-align: center;
  min-width: 85vw;
  margin: 2rem 2rem 2rem 2rem;
  h2 {
    color: var(--primary-text-color);
    font-size: calc(1rem + 1vw);
    text-align: center;
    font-family: var(--primary-font);
    text-shadow: var(--text-shadow);
  }
}
.my-street-art {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 21rem;
  height: 15rem;

  img {
    margin: 0.5rem;
    width: 8rem;
    height: 10rem;
    object-fit: cover;
  }
}
.profile-section {
  display: none;
}

.my-informations {
  display: none;
}

.my-informations-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 13rem;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0;
    list-style: none;
    margin: 0;

    li {
      font-size: 1.2rem;
    }
  }
}

.button-profil,
.button-add-oeuvre-into-profil {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: inherit;
  color: var(--white-font);
  font-weight: 600;
  width: 60%;
  background: var(--button-color);
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  box-shadow: #000000 0px 7px 10px -5px inset;
  border-radius: 6px;
}
.button-add-oeuvre-into-profil {
  a {
    color: var(--white-font);
  }
}

.button :active {
  scale: 0.95;
}

.button-profil:hover {
  background-color: #fff;
  border-color: #fff;
  color: var(--button-color);
}

.button-add-oeuvre-into-profil:hover {
  background-color: #fff;
  border-color: #fff;
  a {
    color: var(--button-color);
  }
}
// media queri destop

@media (min-width: 770px) {
  .profile-component {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    label {
      margin-top: 0.5rem;
    }
  }
  .profile-section-mobile {
    display: none;
  }

  .my-street-art::-webkit-scrollbar {
    display: none;
  }

  .profil-informations {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    margin: 1rem;
    background:
      linear-gradient(#c34cf6b4, #c34cf6b4) padding-box,
      linear-gradient(145deg, transparent 35%, #e81cfffa, #40c9ff) border-box;
    border: 2px solid transparent;
    font-size: 1rem;
    font-family: inherit;
    color: var(--primary-text-color);
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;

    .my-profil {
      padding: 0;
    }

    .my-profil,
    .my-informations {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .my-informations {
      ul {
        padding: 0;
        list-style: none;
        margin: 0;
        font-size: 1.2rem;
      }
    }

    .button-profil {
      width: 85%;
    }

    .street-art-profil {
      position: relative;
    }
  }

  .profile-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    width: 60vw;
    height: 60vh;
    background:
      linear-gradient(#c34cf6b4, #c34cf6b4) padding-box,
      linear-gradient(145deg, transparent 35%, #e81cfffa, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 1rem;
    font-size: 14px;
    font-family: inherit;
    color: white;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;

    h2 {
      color: var(--primary-text-color);
      font-size: calc(0.7rem + 1vw);
      text-align: center;
    }

    .my-street-art {
      overflow: scroll;
      width: auto;
      height: 22rem;

      img {
        height: 13rem;
        width: 15rem;
        margin: 0.5rem;
      }
    }
    .street-art-profil {
      position: relative;
      .overlay-profil {
        position: absolute;
        margin: 0.8rem 0.5rem;
        height: 20%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        p {
          color: var(--primary-text-color);
          padding: 20px;
          margin-bottom: 10px;
        }
      }
      &:hover .overlay-profil {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 1200px) {
  .my-informations {
    padding-bottom: 1rem;
    ul {
      li {
        font-size: 1.5rem;
        color: var(--primary-font);
      }
    }
  }
  .my-street-art {
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    height: 22rem;

    img {
      height: 13rem;
      width: 13rem;
      margin: 0.5rem;
    }
  }

  .my-profil {
    margin-top: 0.5rem;
  }
}
