.table-container {
  table {
    width: 100%;
    border-collapse: collapse;
    color: var(--primary-text-color);

    th,
    td {
      border: 1px solid rgba(194, 76, 246, 0.6);
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: rgba(194, 76, 246, 0.6);
    }

    tbody tr:nth-child(even) {
      background-color: rgba(194, 76, 246, 0.6);
    }

    tbody tr:hover {
      background-color: rgba(194, 76, 246, 0.6);
    }

    .points {
      display: flex;
      justify-content: center;
    }
  }
}

.table-container {
  margin: 8rem 2rem 0 2rem;
}

.th-point {
  display: flex;
  justify-content: center;
}

@media (min-width: 770px) {
  .table-container {
    font-size: 1.5rem;
    margin: 9rem 5rem 0 5rem;
  }
}
