.form-container {
  margin: auto;
  margin-top: 1rem;
  width: 80vw;
  background:
    linear-gradient(#c34cf6b4, #c34cf6b4) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cfffa, #40c9ff) border-box;

  border: 2px solid transparent;
  padding: 32px 16px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .logoMobile {
  height: 75px;
  width: 75px;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: black;
  font-family: inherit;
  background-color: var(--input-background-color);
  border: 1px solid #414141;
  box-shadow: #000000 0px 7px 10px -5px inset;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: black;
  height: 96px;
  border: 1px solid #414141;
  background-color: var(--input-background-color);
  box-shadow: #000000 0px 7px 10px -5px inset;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  justify-content: center;
  font-family: inherit;
  color: white;
  font-weight: 600;
  width: 50%;
  max-width: 200px;
  background: var(--button-color);
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 20px auto 0;
  cursor: pointer;
  box-shadow: #000000 0px 7px 10px -5px inset;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: var(--button-color);
}

.wrap {
  display: none;
}

.form-right {
  display: none;
}

//DESKTOP VERSION

@media (min-width: 770px) {
  .form-container {
    height: auto;
    margin-top: 5rem;
    width: 80vw;
    max-width: 1200px;

    .form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      gap: 20px;
    }
    .form-left,
    .form-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .form-right {
      align-items: center;
    }
    .preview {
      text-align: center;
    }
    .form-left .form-submit-btn {
      align-self: center;
    }
  }
  .logoMobile {
    display: none;
  }

  .wrap {
    display: block;
    max-width: 960px;
    margin: 1em auto;
    position: relative;
    transform-style: preserve-3d;
    perspective: 400px;
    text-align: center;
  }

  .form-container .form-submit-btn {
    text-align: end;
  }

  .letter,
  .space {
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    position: relative;
    transform-style: preserve-3d;
    text-shadow: 2px 2px 5px black;
  }
  .space {
    width: 0.5em;
  }

  @for $i from 1 through 13 {
    $n: 1;
    $r: random(10);
    @if ($r > 5) {
      $n: -1;
    }
    $x: (random(1000) + 300) * $n + px;
    $y: (random(1000) + 300) * $n + px;
    $c: hsl(random(360), 100%, 50%);
    $d: 360 * $n + deg;
    @keyframes anim#{$i} {
      0% {
        transform: translate3d($x, $y, -1000px) rotate(0deg);
        opacity: 0;
      }
      100% {
        transform: translate3d(0, 0, 0) rotate($d);
        opacity: 0.8;
      }
    }
    .letter:nth-child(#{$i}) {
      animation: anim#{$i} 5s;
      animation-delay: -$i * 0.2s;
      color: var(--primary-text-color);
    }
  }
}
