.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85vw;
  height: 83vh;
  margin: 1rem auto;
  background-color: color-mix(in srgb, var(--primary-color) 90%, transparent);
  padding: 1rem;
  color: white;
  border-radius: 16px;
}

.logo-mobile-register {
  width: 100px;
  align-self: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.form-group-checkbox input {
  width: 20px;
  height: 20px;
  margin-top: 0.5rem;
  background-color: var(--input-background-color);
  border: 2px solid #414141;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:checked {
    background-color: var(--button-color);
    border-color: var(--button-color);
  }

  &:checked::after {
    content: "✔";
    display: block;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
  }
}

.form-group-checkbox label {
  color: var(--primary-font);
  text-align: center;
  a {
    color: var(--primary-text-color);
    text-decoration: underline;
  }
}

.form-group label {
  color: var(--primary-font);
  font-size: 1rem;
}

.label-grey {
  width: 100%;
  height: 2.3rem;
  font-size: 1rem;
  font-family: var(--primary-font);
  background-color: var(--input-background-color);
  color: black;
  border-radius: 8px;
  border: 1px solid #414141;
  box-shadow: #000000 0px 7px 10px -5px inset;
}

.label-checkbox {
  width: 20px;
  height: 20px;
  background-color: var(--input-background-color);
  border: 2px solid #414141;
  border-radius: 4px;
}

.form-submit-register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  color: white;
  width: 70%;
  background: var(--button-color);
  border: 1px solid #414141;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: #000000 0px 7px 10px -5px inset;
  border-radius: 6px;
}

.form-submit-register-btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: var(--button-color);
}

.form-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wrap {
  display: none; //Ne pas afficher l'animation en mobile
}

.form-right {
  display: none; //Ne pas afficher le GIF du Tetris en mobile
}

// DESKTOP VERSION

@media (min-width: 770px) {
  .form-container {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    width: 70vw;

    .form {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .form-left,
    .form-right {
      display: flex;
      justify-content: center;
      height: 35vh;
    }

    .form-left {
      width: 20vw;
    }

    .form-right > img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
    width: 100%;
  }

  .form-group textarea {
    padding: 8px 12px;
    height: 80px;
    font-size: 12px;
  }

  .form-group input {
    font-size: 1rem;
  }

  .form-group label {
    margin-bottom: 2px;
    font-size: 1rem;
  }

  .form-group-checkbox {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.5rem;

    input {
      margin-top: 0;
      margin-left: 0.5rem;
    }
  }

  .form-submit-register-btn {
    width: 100%;
  }

  .logo-mobile-register {
    display: none;
  }

  .central-bar {
    width: 2px;
    background-color: var(--primary-text-color);
    height: 100%;
    align-self: stretch;
  }

  // Animation du titre "inscription"
  .wrap {
    display: block;
    text-align: center;
    margin: 1em auto;
    transform-style: preserve-3d;
    perspective: 400px;
  }

  .letter,
  .space {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-weight: bold;
    position: relative;
    transform-style: preserve-3d;
    text-shadow: 2px 2px 5px black;
  }

  .space {
    width: 0.5em;
  }

  @for $i from 1 through 13 {
    $n: 1;
    $r: random(10);
    @if ($r > 5) {
      $n: -1;
    }
    $x: (random(1000) + 300) * $n + px;
    $y: (random(1000) + 300) * $n + px;
    $c: hsl(random(360), 100%, 50%);
    $d: 360 * $n + deg;
    @keyframes anim#{$i} {
      0% {
        transform: translate3d($x, $y, -1000px) rotate(0deg);
        opacity: 0;
      }
      100% {
        transform: translate3d(0, 0, 0) rotate($d);
        opacity: 0.8;
      }
    }
    .letter:nth-child(#{$i}) {
      animation: anim#{$i} 5s;
      animation-delay: -$i * 0.2s;
      color: var(--primary-text-color);
    }
  }
}
