.street-art-component {
  background-color: color-mix(in srgb, var(--primary-color) 90%, transparent);
  border-radius: 16px;
  margin: 1rem;
  margin-top: 1.5rem;
  height: 80vh;
  overflow-y: auto;
}

.street-art-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--primary-text-color);
  text-align: center;

  .title-pic {
    text-align: center;

    h1 {
      font-size: 2rem;
      padding: 1rem;
    }

    img {
      width: 90%;
      height: 90%;
      padding-bottom: 1.5rem;
    }
  }

  .para-street-art {
    color: var(--white-font);
    margin: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.title-desktop {
  display: none;
}
.street-art-picture {
  position: relative;
  a {
    color: white;
  }
  .info-picture-profil {
    position: absolute;
    left: 110px;
    top: 0;
    z-index: 10000;
  }
}

@media (min-width: 770px) {
  .street-art-component {
    display: flex;
    justify-content: space-evenly;
    max-height: 70vh;
    max-width: 90vw;
    margin: auto;
    margin-top: 2rem;
    background-color: transparent;
  }
  .street-art-component::-webkit-scrollbar {
    display: none;
  }

  .title-mobile {
    display: none;
  }
  .street-art-details {
    display: flex;
    flex-direction: row;
    margin: 1rem;

    .title-pic {
      position: relative;
      text-align: center;
      margin-top: 3rem;

      .image-container {
        width: 750px;
        height: 700px;
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          transition: opacity 0.5s ease;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          .text {
            padding: 20px;

            .title-desktop {
              display: unset;
            }
            h2,
            h3 {
              margin-bottom: 10px;
            }

            p {
              margin-bottom: 10px;
            }
          }
        }

        &:hover .overlay {
          opacity: 1;
        }
        &.show-overlay .overlay {
          opacity: 1;
        }
      }
    }

    .street-art-desc {
      text-align: left;
      font-size: 2rem;

      .para-street-art {
        margin: 0;
      }
    }
  }
}
