.street-art-component {
  background-color: color-mix(in srgb, var(--primary-color) 90%, transparent);
  border-radius: 16px;
  margin: 1rem;
  margin-top: 1.5rem;
  height: 80vh;
  overflow-y: auto;
}

.street-art-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--primary-text-color);
  text-align: center;

  .title-pic {
    text-align: center;

    h1 {
      font-size: 2rem;
      padding: 1rem;
    }

    img {
      width: 90%;
      height: 90%;
      border-radius: 5px;
      padding-bottom: 1.5rem;
    }
  }
  .para-street-art {
    color: var(--white-font);
    margin: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 770px) {
  .street-art-component {
    display: flex;
    justify-content: space-evenly;
    height: 75vh;
    width: 75vw;
    margin: auto;
    margin-top: 2rem;
  }

  .street-art-details {
    display: flex;
    flex-direction: row;
    padding: 7rem;

    .title-pic {
      text-align: center;

      h1 {
        font-size: 2.5rem;
        padding: 2.5rem 0 1.5rem;
        margin: 0;
      }

      img {
        width: 80%;
        max-height: 70vh;
        border-radius: 5px;
        padding: 0;
      }
    }
    .street-art-desc {
      text-align: left;
      font-size: 1.5rem;
      .para-street-art {
        margin: 0;
      }
    }
  }
}
